<h1>New link</h1>

<%= render 'form' %>

<%= form_for @link, url: {action: "create"} do |f| %>
    <%= f.text_field :long_link %>
    <%= f.submit "Shorten" %>
<% end %>
<%= link_to 'Back', links_path %>
